*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Bodoni', serif;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.app{
    margin: 8rem;
    padding: 5rem;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 45px;
}

.inputs{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.name-input{
    width: 20rem;
    height: 2rem;
    padding: 3px;
    border: 1px solid #000;
    border-right: none;
    opacity: 60%;
}

.btn{
    font-weight: bold;
    width: 70px;
    cursor: pointer;
    background-color: #00bf737a;
    border: 1px solid #000;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo{
    min-width: 40%;
    max-width: 40%;
    display: flex;
    margin: 5px;
}
.text{
    display: flex;
    flex-direction: start;
    min-width: 90%;
    max-width: 90%;
    border: 1px solid #000;
    border-right: none;
    border-radius: 5px;
    padding: 0px 10px;
}

.delbtn{
    color: #fff;
    background: red;
    border: none;
    cursor: pointer;
    min-width: 30px;
}

.checkbtn{
    color: #fff;
    background: green;
    border: none;
    cursor: pointer;
    min-width: 30px;
}
